html {
    background-image: url("https://cdn.pixabay.com/photo/2024/11/25/10/40/margaritas-9223058_1280.jpg");
}
#starter-page {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    text-align:center;
}
.recipe-head {
    background-color:brown;
}
h1 {
    font-size: 100px;
    color:black;
    text-align:center;
}
p {
    font-size: 80px;
    color: black;
    text-align:center;
}
.btn {
    font-size: 50px;
    text-decoration-color: red;
}
title{
    font-size: 50px;
}
.search-bar {
padding: 10px;
gap: 8px;
display: flex;
justify-content:center;
}
.search-bar input {
    padding:10px;
    margin: 0;
    width: 250px;
    border: 1px solid;
    background-color:darkgray;
}
.search-bar button {
    padding: 10px;
    border: 1px solid;
    background-color: lightgray;
    cursor: pointer;

}

.starting-page {
     height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: transparent;
}
#recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}
.recipe-finder {
    padding: 20px;
    display: flex;
    text-align: center;
    margin: 6px;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 ,0.45);
    cursor: pointer;
    background-color: transparent;
}
.popup {
    padding: 20px;
    display: none;
    background: rgba(0 ,0 ,0 ,0.8);
    text-align: center;
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    right:0;
    justify-items: center;
    align-items:center;;
}
.close-btn {
    position:absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}
