#recipe-grid {
    background: white;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
    gap: 20px; 
    position: relative;
}

#recipe-grid:hover {
    transform: scale(1.05);
}

html {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/26/22/32/background-1481478_1280.jpg");
 } 
 #starter-page { 
    margin: 0; 
    font-family:Arial, Helvetica, sans-serif; 
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.pXwLrVla3u_gOJ-tK-OwvAAAAA?cb=ucfimg2&pid=ImgDet&ucfimg=1&w=184&h=327&c=7&dpr=1.3&o=7&rm=3"); 
    text-align:center; 
}
h1 { 
    font-size: 100px; 
    color:black; 
    text-align:center;
}
p { 
    font-size: 50px; 
    color: black; 
    text-align:center; 
    overflow: auto;
} 
.btn { 
    font-size: 50px; 
    text-decoration-color: red; 
}
title{ 
    font-size: 50px; 
} 
.search-bar { 
    padding: 10px; 
    gap: 8px;
     display: flex; 
     justify-content:center; } 
.search-bar input {
     padding:10px;
      margin: 0; 
      width: 250px;
       border: 1px solid;
        background-color:darkgray; } 
.search-bar button {
    padding: 10px;
     border: 1px solid; 
     background-color: lightgray; 
     cursor: pointer; 
    } 
    .search-bar button:hover {
    background-color: gray;
    color: white;
    }
.starting-page { 
    height: 100vh;
     display: flex; 
     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
     text-align: center; 
    
    } 
header { 
    padding: 15px; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    position: sticky; 
    background-color: transparent; 
} 
.recipe-finder { 
    display: flex; 
    text-align: center; 
    margin: 6px; 
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 ,0.45);
     cursor: pointer; 
     background-color: transparent; } 
.popup {
     padding: 20px; 
     display: none; 
     background: whitesmoke;
      width:100%; 
      height:100%; 
      position: fixed;
      top: 0;
      left:0;
      text-align: center; 
      justify-items: center; 
      align-items:center; } 
.close-btn { 
    position:absolute; 
    top: 20px; 
    right: 20px; 
    cursor: pointer; 
    font-size: 30px; 
    color: black; 
}
#popup-img {
    height: auto;
    width:80%;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    background-color: white;

}
#popup-box {
    color: white;
    font-size:20px;
    display: none;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    font-family: cursive;
}
#popup-content {
    overflow-y : auto;
    padding:15px;
    max-height:40vh;
    max-width: 100%;
    font-size:18px;
    position: relative;
    background-color: pink;
}
#popup-instructions {
    font-size: 40px;
    overflow-y: auto;
    max-height: 40vh;
}
#recipe-head {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.pXwLrVla3u_gOJ-tK-OwvAAAAA?cb=ucfimg2&pid=ImgDet&ucfimg=1&w=184&h=327&c=7&dpr=1.3&o=7&rm=3");
}
